--indent 4
--someAny false
--self insert
--wrapparameters before-first
--extensionacl on-declarations
--swiftversion 5.7
--patternlet inline
--maxwidth 120
--disable wrapMultilineStatementBraces
--disable opaqueGenericParameters
--disable sortedImports
